<a href="https://colab.research.google.com/github/NaamaAmer/Trial/blob/main/Copy_of_2023_4516CSQR_GroupOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis

*   Dataset can be downloaded from: https://ourworldindata.org/coronavirus/country/united-kingdom

# 1. Importing required libaries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
from google.colab import files
%matplotlib inline
sns.set(color_codes=True)

# 2. Loading data into data frames

In [ ]:
data = pd.read_csv("owid-covid-data.csv")
data.head(5)
data.tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
295830,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295831,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295832,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295833,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295834,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

#3. Checking the data types

In [ ]:
data.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

#4. Remove irrelevant columns

In [ ]:
data = data.drop(['excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million','life_expectancy','hospital_beds_per_thousand','handwashing_facilities','male_smokers','female_smokers','diabetes_prevalence','cardiovasc_death_rate','extreme_poverty','aged_70_older','aged_65_older','stringency_index','new_people_vaccinated_smoothed_per_hundred','new_people_vaccinated_smoothed','new_vaccinations_smoothed_per_million','people_fully_vaccinated_per_hundred','people_vaccinated_per_hundred','total_boosters_per_hundred','new_vaccinations_smoothed','tests_units','tests_per_case','positive_rate','new_tests_smoothed_per_thousand','new_tests_smoothed','weekly_hosp_admissions_per_million','weekly_hosp_admissions','hosp_patients_per_million','hosp_patients','reproduction_rate','new_deaths_smoothed_per_million','new_cases_smoothed_per_million','new_deaths_smoothed','new_cases_smoothed'], axis=1)
data.head(5)

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,total_vaccinations_per_hundred,population_density,median_age,gdp_per_capita,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0

#5. Renaming the columns

In [ ]:
data = data.rename(columns={"iso_code" :"isocode", "total_cases" :"totalcases","new_cases":"newcases","new_cases_smoothed":"newcasessmoothed" , "total_deaths" :"totaldeaths" , "new_deaths" : "newdeaths" ,"new_deaths_smoothed" :"newdeathssmoothed", "total_deaths" :"totaldeaths" , "total_cases_per_million" :"tatalcasespermillion" , "total_deaths_per_million" :"totaldeathspermillion" , "icu_patients" :"icupatients" , "icu_patients_per_million" : "icupatientspermillion" , "weekly_icu_admissions" :"weeklyicuadmissions" ,"weekly_icu_admissions_per_million":"weeklyicuadmissionspermillion" , "new_tests" :"newtests"})
data.head(5)

,isocode,continent,location,date,totalcases,newcases,totaldeaths,newdeaths,tatalcasespermillion,new_cases_per_million,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,total_vaccinations_per_hundred,population_density,median_age,gdp_per_capita,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,54.422,18.6,1803.987,0.511,41128772.0

# 6. Adding Zero to the Null Values

In [ ]:
data = data.fillna(0)
data.head(5)
data.tail(5)

,isocode,continent,location,date,totalcases,newcases,totaldeaths,newdeaths,tatalcasespermillion,new_cases_per_million,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,total_vaccinations_per_hundred,population_density,median_age,gdp_per_capita,human_development_index,population
293715,ZWE,Africa,Zimbabwe,2023-03-03,264127.0,0.0,5668.0,0.0,16183.718,0.0,...,0.0,0.0,0.0,0.0,0.0,42.729,19.6,1899.775,0.571,16320539.0
293716,ZWE,Africa,Zimbabwe,2023-03-04,264127.0,0.0,5668.0,0.0,16183.718,0.0,...,0.0,0.0,0.0,0.0,0.0,42.729,19.6,1899.775,0.571,16320539.0
293717,ZWE,Africa,Zimbabwe,2023-03-05,264127.0,0.0,5668.0,0.0,16183.718,0.0,...,0.0,0.0,0.0,0.0,0.0,42.729,19.6,1899.775,0.571,16320539.0
293718,ZWE,Africa,Zimbabwe,2023-03-06,264127.0,0.0,5668.0,0.0,16183.718,0.0,...,0.0,0.0,0.0,0.0,0.0,42.729,19.6,1899.775,0.571,16320539.0
293719,ZWE,Africa,Zimbabwe,2023-03-07,264127.0,0.0,5668.0,0.0,16183.718,0.0,...,0.0,0.0,0.0,0.0,0.0,42.729,19.6,1899.775,0.571,16320539.0